<div class="col-xl-4 col-md-6 col-sm-8 col-10 text-center" style="margin: auto;">
  <p style="color: green"><%= notice %></p>

  <%= render @post %>

  <%= link_to "Back to posts", posts_path, class: "btn btn-primary" %>

  <% if user_signed_in? %>
    <% if @post.user.present? && current_user.id == @post.user.id %>
      <div style="margin-top: 15px;">
        <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-primary" %>
        <%= button_to "Destroy this post", @post, method: :delete, class: "btn btn-danger" %>
      </div>
    <% end %>
  <% end %>
</div>

<%= render "comments/form", comment: @comment %>
<% @post.comments.each do |comment| %>
  <%= comment.text %>
  <br>
<% end %>
